<!-- features/food-swiper/components/swipe-container/swipe-container.component.html -->
<div class="swipe-container">
  <div *ngIf="isLoading" class="loading-container">
    <div class="spinner"></div>
    <p>Loading delicious foods...</p>
  </div>
    <div class="swipe-area" >
      <div  *ngIf="!isLoading && hasMoreFood()" class="card-container">
        <app-food-card 
          [food]="currentFood" 
          (liked)="onLiked($event)"
          (disliked)="onDisliked($event)">
        </app-food-card>
      </div>
      
      <ng-template #noMoreFood>
        <div *ngIf="!isLoading && !hasMoreFood()" class="no-more-food">
          <h3>No more food to show!</h3>
          <p>Try adjusting your filters or check back later for more options.</p>
          <button class="reload-btn" (click)="resetSwiper()">Start Over</button>
        </div>
      </ng-template>
    </div>
    
    <!-- <app-swipe-controls 
      *ngIf="hasMoreFood()"
      (liked)="currentFood && onLiked(currentFood)"
      (disliked)="currentFood && onDisliked(currentFood)">
    </app-swipe-controls> -->
 
  </div>